@charset "UTF-8";

.popline {
  position: absolute;
  opacity: 0.95;
  list-style: none;
  background: #fff;
  height: 38px;
  padding: 0px;
  box-shadow: 0px 2px 20px 6px #00000012;
  border-radius: 6px;
  display: none;
}
.popline li {
	color: white;
	font-weight: bold;
	float: left;
	cursor: pointer;
	text-align: center;
	height: inherit;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.popline li a {
	outline: none;
	display: inline-block;
	padding: 8px;
	vertical-align: middle;
	min-width: 14px;
  font-size: 1.3em;
}

.popline li a{
  color: #333;
}

.popline .popline-hover {
  background: var(--btn-primary);
  color: #fff;;
}
.popline .popline-hover a{
  color: #fff;;
}

.popline .popline-boxed {
	padding: 0;
}

.popline .popline-lighter {
	font-weight: lighter;
}

.popline .popline-subbar {
	display: none;
	list-style: none;
	padding: 0;
}

.popline .popline-textfield {
	border: none;
	padding: 4px;
	padding: 4px 4px 5px 4px\9;
	margin-left: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	display: none;
	outline: none;
	width: 150px;
}